.project-card {
  background-color: hsla(223, 49%, 21%, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: .25rem;
  margin: .15rem;
  border: 1px white solid;
  border-radius: .5rem;
  max-height: 27%;
  width: 90%;
}
.card-left {
  width: 60%;
}
.card-right {
  display:flex;
  max-height: 95%;
}
.tech-text {
  font-size: 1rem;
}