.App{
  background-color: #192a4ec5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.center-content {
  width: 95vw;
  height: 75vh;
  display: flex;
}