.App{
  background-color: #192a4ec5;
  background-image: url('../../assets/pastern.webp');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: aliceblue;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72vh;
  width: 95vw;
  padding: 1rem;
  margin: .5rem;
}