.header-container {
  height: 15vh;
  width: 100vw;
  border-bottom: 1px white solid;
  background-color: hsla(223, 49%, 36%, 0.89);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header-title {
  color: rgb(236, 197, 77);
  text-shadow: rgb(246, 218, 104) 1px 0 10px, 2px 1px 2px rgb(255, 255, 255);
  font-family: 'Whois', sans-serif;
  font-size: 4rem;
  margin-block-start: .25em;
  margin-block-end: .75em;
}

.header-nav-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 1rem;
  top: .55rem;
  height: 100%;
  padding: .25rem;
}

.nav-button {
  height: 2rem;
  min-width: 6rem;
  max-width: 8rem;
  border: .1rem rgba(128, 128, 128, 0.4) solid;
  margin: .15rem;
}