.footer-container {
  height: 10vh;
  width: 100vw;
  background-color: rgba(163, 178, 217, 0.25);
  border-top: .1rem aliceblue solid;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-nav-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.footer-link {
  background-color: hwb(223 64% 15% / 0.70);
  text-decoration: none;
  border: 1px black solid;
  border-radius: .25rem;
  padding: .25rem;
  color: rebeccapurple;
}

.footer-text {
  margin-top: .15rem;
  margin-bottom: .75rem;
}