.footer-container {
  height: 10vh;
  width: 100vw;
  background-color: hsla(223, 41%, 74%, 0.75);
  border-bottom: .1rem aliceblue solid;
  border-top: .1rem aliceblue solid;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-nav-buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.footer-link {
  text-decoration: none;
  color: rebeccapurple;
}