.footer-container {
  height: 10vh;
  width: 100vw;
  background-color: rgb(58,62,65, .55);
  border-top: .1rem rgba(217, 217, 217, 0.75) solid;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-nav-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.footer-link {
  background-color: rgb(130,146,142, .45);
  text-decoration: none;
  border: .05rem rgb(58,68,70) solid;
  border-radius: .25rem;
  padding: .45rem;
  color: rgba(217, 217, 217, 0.95);
}

.footer-link:hover {
  background-color: rgb(130,146,142, .85);
}

.footer-text {
  margin-top: .15rem;
  margin-bottom: .75rem;
  color: rgba(217, 217, 217, 0.95);
}