.profile {
  max-width: 75vw;
  max-height: 35vh;
  border-radius: 2rem;
  border: 1px solid aliceblue;
}

.welcome-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 75vh;
}

.demo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 75vh;
}