.profile {
  max-width: 75vw;
  max-height: 35vh;
  border-radius: 2rem;
}

.welcome-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 44%;
  border-radius: .5rem;
  border: .05rem white solid;
  background-color: hsla(223, 41%, 74%, 0.55);
}
.welcome-text {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .35rem;
}

.demo-container {
  height: 90%;
  width: 44%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;
  border: .05rem white solid;
  background-color: hsla(223, 41%, 74%, 0.55);
}

.succinct-prompt {
  display:flex;
  padding: 1rem;
  margin: .5rem;
  justify-content: center;
}