.author-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  border: .15rem aliceblue dotted;
  height: 90%;
  width: 65%;
}

.timeline {
  display:flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 30%;
}

.about-paragraph {
  text-indent: 2.5rem;
}
.diatribe-wrapper {
  height: 95%;
  width: 80%;
}