.author-info {
  background-color: rgb(58,62,65, .75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: .15rem rgb(217, 217, 217, 0.75) solid;
  border-radius: .5rem;
  height: 90%;
  width: 65%;
}

.timeline {
  display:flex;
  align-items: center;
  background-color: rgb(58,62,65, .85);
  border: .15rem rgb(217, 217, 217, 0.75) solid;
  border-radius: .5rem;
  justify-content: center;
  height: 90%;
  width: 30%;
}

.about-paragraph {
  text-indent: 2.5rem;
}
.diatribe-wrapper {
  height: 95%;
  width: 80%;
}